.content{width: 1000px;margin: 0 auto;}
.header{padding-top: 20px;}
.logo{float: left; width: 292px;height: 60px;}
.nav-warp{float: right;text-align: right;}
.nav-warp .phone{ font-size: 24px;color: #666;}
.nav-warp ul.nav{margin-top: 9px;}
.nav-warp ul.nav li{float: left;margin-left: 24px;}
.nav-warp ul.nav li a{font-size: 16px;color: #797979;line-height: 22px;}
.nav-warp ul.nav li.cur a{color: #0076ff;}
.nav-warp ul.nav li:hover a{color: #0076ff;}
.nav-warp ul.nav li .underline{display: block; width: 0;height: 2px;}
.nav-warp ul.nav li.cur .underline{width: 100%;background-color:#0076ff;border-radius: 4px;}
.nav-warp ul.nav li:hover .underline{width: 100%;background-color:#0076ff;border-radius: 4px; }
.intro{margin-top: 210px; text-align: center;width: 1000px;}
.intro .con{font-family: PingFangSC-Semibold;font-size: 56px;color: #FFFFFF;letter-spacing: 0;line-height: 78px;}
.intro .slogan{margin-top: 50px;font-family: HanziPenSC-W5;font-size: 36px;line-height: 50px; color: #FFFFFF;letter-spacing: 0;}

.part02 h3{margin: 14px 0 60px 70px; font-family: PingFangSC-Regular;font-size: 24px;color: #666666;line-height: 33px;}
.part02 p{margin-bottom: 20px; font-family: Microsoft Yahei;font-size: 16px;color: #666666;line-height: 22px;}
.part02 .foot-wrap{margin-top: 98px; }
.part02 .bg{background-image: url(../images/bg3.png);height: 413px;width: 977px;margin: 0 auto;}
.part02 .footer{margin-top: -52px; text-align: center; line-height: 18px;font-size: 12px;color: #999;letter-spacing: 0;}