body{font:12px/20px "Microsoft Yahei","微软雅黑","STHeiti Light","华文细黑",SimSun,"宋体",Arial,sans-serif}
article,aside,blockquote,body,button,dd,dl,dt,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0;-webkit-text-size-adjust:100%}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,i,strong,th,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
abbr,acronym,fieldset,img{border:0 none}
img,input{vertical-align:middle}
article,aside,footer,header,hgroup,menu,nav,section,small{display:block}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:after,q:before{content:''}
a{text-decoration:none;outline:0;-webkit-tap-highlight-color:transparent}
a:hover{text-decoration:underline}
img{-ms-interpolation-mode:bicubic;image-rendering:optimizeQuality}
input,textarea{outline-style:none;font:12px "Microsoft Yahei","微软雅黑","STHeiti Light","华文细黑",SimSun,"宋体",Arial,sans-serif}
input[type=password],input[type=search],input[type=text]{-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;-webkit-user-modify:read-write-plaintext-only}
textarea{resize:none}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.clearfix{zoom:1}
.clearit{clear:both;height:0;font-size:0;overflow:hidden}
a{color:#333;text-decoration:none}
a:visited{color:#333}
a:active,a:focus,a:hover{color:#FA536F;text-decoration:none;}